
<div class='conatainer'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h2 class='text'>Welcome to MyTubeList, please login to use</h2>
		</div>

		<div class='panel-body'>
			<div class='text'>MyTubeList is an app that simply search YouTube videos and play or store in to a playlist to review</div>
		</div>

		<div class='panel-footer'>
			<span>This app is using Google YouTubeAPI V3</span>
		</div>
	</div>
</div>

<!-- <div class='col-lg-12'>
	<div class='col-lg-8 col-lg-offset-2'>Welcome to MyTubeList, please login to use</div>
</div>
 -->